<a href="https://colab.research.google.com/github/jmmartinnu2/Trading/blob/main/Analisis_Mensual.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ANALISIS DE DATOS MENSUAL. RECOPILAREMOS CADA SEMANA DATOS.

In [1]:
import pandas as pd

df = pd.DataFrame()

# creamos las columnas
df['VAH'] = None
df['Vpoc'] = None
df['VAL'] = None
df['Vol'] = None
df['Cierre'] = None
df['Vwap'] = None
df['Open'] = None
df['High'] = None
df['Low'] = None
df['Close'] = None

# a√±adimos filas por su nombre de fila
df.loc['Semana 1 Agosto'] = [4150.25,4121.5,4103.50,8053.3,4146.75,4129.63,4137.50,4173.25,4080.50,4146.75]
df.loc['Semana 2 Agosto'] = [4260.75,4208,4146,7037.7,4281,4191.84,4149.75,4282.75,4113,4281]
df.loc['Semana 3 Agosto'] = [None,None,None,None,None, None, 4277, None, None, None]
df.loc['Semana 4 Agosto'] = [None,None,None,None,None, None, None, None, None, None]
df.loc['Semana 5 Agosto'] = [None,None,None,None,None, None, None, None, None, None]

df

,VAH,Vpoc,VAL,Vol,Cierre,Vwap,Open,High,Low,Close
Semana 1 Agosto,4150.25,4121.5,4103.5,8053.3,4146.75,4129.63,4137.50,4173.25,4080.5,4146.75
Semana 2 Agosto,4260.75,4208.0,4146.0,7037.7,4281.00,4191.84,4149.75,4282.75,4113.0,4281.00
Semana 3 Agosto,NaN,NaN,NaN,NaN,NaN,NaN,4277.00,NaN,NaN,NaN
Semana 4 Agosto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Semana 5 Agosto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN