<a href="https://colab.research.google.com/github/jmmartinnu2/Trading/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#VAMOS A RECOPILAR DATOS DEL FUTURO ES

In [ ]:
#creamos nuestro dataframe importamos librerias a usar
import pandas as pd
import numpy as np

In [61]:
import pandas as pd

df = pd.DataFrame()

# creamos las columnas
df['VAH'] = None
df['Vpoc'] = None
df['VAL'] = None
df['Vol'] = None
df['Cierre'] = None
df['Range'] = None
df['Vwap'] = None
df['Open'] = None
df['High'] = None
df['Low'] = None
df['Close'] = None

# añadimos filas por su nombre de fila
df.loc['Lunes 15 Agosto'] = [4303.75,4298,4271,1275.5,4299.25, 223, 4281.74,4277, 4304.75, 4249, 4298.25]
df.loc['Martes 16 Agosto'] = [4314.5,4307.75,4397.75,4290.75,4302.50,195,4300.8, 4294.50, 4327.50, 4278.75, 4307.75]
df.loc['Miércoles 17 Agosto'] = [None,None,None,None,None, None, None, None, None, None, None]
df.loc['Jueves 18 Agosto'] = [None,None,None,None,None, None, None, None, None, None, None]
df.loc['Viernes 19 Agosto'] = [None,None,None,None,None, None, None, None, None, None, None]

df

,VAH,Vpoc,VAL,Vol,Cierre,Range,Vwap,Open,High,Low,Close
Lunes 15 Agosto,4303.75,4298.00,4271.00,1275.50,4299.25,223.0,4281.74,4277.0,4304.75,4249.00,4298.25
Martes 16 Agosto,4314.50,4307.75,4397.75,4290.75,4302.50,195.0,4300.80,4294.5,4327.50,4278.75,4307.75
Miércoles 17 Agosto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jueves 18 Agosto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Viernes 19 Agosto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN